/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine Reset */

/* Regole generali */
body {
  background-image: url(../img/sfondo.png);
  background-repeat: repeat;
}

.wrapper {
  width: 70%;
  margin: auto;
  margin-top: 15px;
}
/* Fine Regole generali */

/* HEADER */
/* Prima parte header */
header .box1{
  position: relative;
  background-image: url(../img/background-header.jpg);
  text-align: center;
  color: white;
  border: 6px solid;
  height: 300px;
}

header .box1 .titolo h1 {
  padding: 7px;
  font-size: 50px;
  border: 4px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .box1 .titolo p {
  margin-top: 50px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Seconda parte header */
header .box2 {
  background-color: #696969;
}

header .box2 .menu {
  color: white;
  list-style-type: none;
  width: 90%;
  margin: auto;
  text-align: center;
}

header .box2 .menu li {
  display: inline-block;
  padding: 10px 5px;
}

header .menu li:hover{
  background-color: black;
}
/* FINE HEADER */

/* MAIN */
main .col {
  background-color: white;
  color: black;
}

main .col .left {
  
}
/* FINE MAIN */
